# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Proyectos\SistemaAgil_IS2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
